html,
body,
header,
#hero-image {
  height: 100%; }

#hero-image {
  background: url("../img/hero1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100%; }

#hero-caption {
  width: 100%; }

img {
  max-width: 100%; }

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
