$background-cover : cover;
$image-text-color : white;
$position-absolute : absolute;
$length : 100%;

html,
body,
header,
#hero-image {
    height: $length;
}
#hero-image {
    background: url("../img/hero1.jpg")no-repeat center center fixed;
    -webkit-background-size: $background-cover;
    -moz-background-size: $background-cover;
    -o-background-size: $background-cover;
    background-size: $background-cover;
    color: $image-text-color;
    height: $length;
}
#hero-caption {
    width: $length;
}

img {
    max-width: $length;
}
.carousel-content {
    position: $position-absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: $image-text-color;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
  }
  
